{% extends 'base.html.twig' %}

{% block body %}
<h1>Создать поездку</h1>

<form method="POST">

    <label>Дата:</label><br>
    <input type="text" name="date"><br><br>

    <label>Километраж:</label><br>
    <input type="number" name="kilometers"><br><br>

    <label>Расход топлива:</label><br>
    <input type="number" step="0.01" name="fuelUsed"><br><br>

    <label>Автомобиль:</label><br>
    <select name="vehicle">
        {% for v in vehicles %}
            <option value="{{ v.id }}">{{ v.model ?? 'Vehicle #' ~ v.id }}</option>
        {% endfor %}
    </select><br><br>

    <label>Водитель:</label><br>
    <select name="driver">
        {% for d in drivers %}
            <option value="{{ d.id }}">{{ d.name ?? 'Driver #' ~ d.id }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Создать</button>

</form>

<br>
<a href="{{ path('trip_index') }}">⬅ Назад</a>
{% endblock %}
