{% extends 'base.html.twig' %}

{% block body %}
{% include 'nav.html.twig' %}
<h2>Записи ТО</h2>

<a href="{{ path('maintenance_create') }}">+ Добавить ТО</a>

<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Работа</th>
        <th>Стоимость</th>
        <th>Авто</th>
        <th>Действия</th>
    </tr>

    {% for r in records %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.date }}</td>
            <td>{{ r.workType }}</td>
            <td>{{ r.cost }}</td>
            <td>{{ r.vehicle.model ?? ('Vehicle #' ~ r.vehicle.id) }}</td>

            <td>
                <a href="{{ path('maintenance_edit', {id: r.id}) }}">Редактировать</a>

                <form action="{{ path('maintenance_delete', {id: r.id}) }}" method="POST" style="display:inline;">
                    <button onclick="return confirm('Удалить запись ТО?')" style="color:red;">Удалить</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
