<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ccc;">
    <b>Перейти к таблицам:</b><br><br>

    <a href="{{ path('vehicle_index') }}">Автомобили</a> |
    <a href="{{ path('maintenance_list') }}">Запись о ТО</a> |
    <a href="{{ path('route_index') }}">Маршруты</a> |
    <a href="{{ path('refuel_list') }}">Заправки</a> |
    <a href="{{ path('drivers_list') }}">Водители</a> |
    <a href="{{ path('assignments_list') }}">Назначения</a> |
    <a href="{{ path('trip_index') }}">Поездки</a> |
    <a href="{{ path('audit_index') }}">Audit Log</a> |
    
    <a href="{{ path('trips_export_csv') }}">Экспорт CSV</a> |
    <a href="{{ path('trips_export_xlsx') }}">Экспорт XLSX</a> |
    <a href="{{ path('report_summary_csv') }}">Отчёт CSV</a> |
    <a href="{{ path('report_summary_pdf') }}">Отчёт PDF</a> |
    <a href="{{ path('trips_import') }}">Импорт CSV</a>


    <a href="{{ path('analytics_distance') }}">Аналитика: Пробег</a> |
    <a href="{{ path('analytics_anomalies') }}">Аналитика: Аномалии</a> |
    <a href="{{ path('analytics_rating') }}">Аналитика: Рейтинг авто</a>
</div>
