{% extends 'base.html.twig' %}

{% block body %}
{% include 'nav.html.twig' %}

<h1>Журнал действий (Audit Log)</h1>

<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>Пользователь / Роль</th>
        <th>Действие</th>
        <th>Сущность</th>
        <th>ID сущности</th>
        <th>Изменения</th>
        <th>Время</th>
    </tr>

    {% for log in logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.username }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.entity }}</td>
            <td>{{ log.entityId }}</td>
            <td>{{ log.dif }}</td>
            <td>{{ log.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
